<!-- <div class="row">
  <div class="col-md-6">
    <h3>Quiz Application</h3>
  </div>
  <div class="col-md-6 text-sm-right">
    Select Quiz:
    <select [(ngModel)]="quizName" (change)="loadQuiz(quizName)">
        <option *ngFor="let quiz of quizes" [value]="quiz.QuestionnaireId">{{quiz.QuestionnaireGroup}}</option>
      </select>
  </div>
</div> -->




<!-- <div id="quiz" *ngFor="let quiz of completeQuiz.Quiz"> commented because of two loops-->
<!-- <h1 class="text-sm-center">{{quiz.QuestionnaireGroup}}</h1> -->

<!-- <h1 class="text-sm-center">{{completeQuiz.Quiz}}</h1> -->

<!-- {{filteredQuestions.QuestionList[0].Question}} -->
<!-- <div *ngIf="mode=='quiz' && quiz"> -->
    <div class="w-100 quiz__row">
        <div class="row p-0 m-0">
            <div class="col-sm-6 quiz__col p-0">
                <div class="left-container">
                    <div class="d-block">
                        <img class="img-fluid" src="../../assets/ai-recruiting-system.svg">
                        <h2 class="pt-4">Arytic</h2>
                        <p class="pt-2">
                            Arytic is your next generation real-time analytics and predictive insights employment platform
                            that uses our proprietary artificial intelligence and machine learning engine.
                        </p>
                        <a href="javascript:void(0)"  (click)="changeRoute()" class="btn btn-filled mt-4"> Explore</a>
                    </div>

                </div>
            </div>
            <div class="col-sm-6 quiz__col p-0">
                <!-- <div class="question-div" *ngIf="!showQstns">
                        <label>
                            enter your email id
                        </label>
                            <input type="text" class="form-control" #e name="email" [(ngModel)]="email" (input)="onSave($event.target.value)" type="text">
                            <button class="btn btn-primary"  (click)="onNext(e.value);">Next</button>
                    </div> -->
                <div class="question-div flexd">
                    <ng-container *ngIf="checkRelation === false">
                        <ng-container *ngIf="!showres">
                            <div class="pl-4 pr-4 w-100 m-auto" style="padding-top: 53px;">
                                <div>
                                    <div class="animated fadeIn">
                                        <h3 class="main_question">
                                            <span> Professional Reference</span>
                                        </h3>
                                        <div>
                                            <span>
                                                How do you know {{name?.ProfileBasicInfo?.FirstName}}?
                                            </span>
                                        </div>

                                        <!--<h2>{{pager.index + 1}}. <span [innerHTML]="quiz.QuestionnaireGroup"></span></h2>-->
                                        <div>
                                            <select class="form-control" [(ngModel)]="referenceVal"
                                                [ngModelOptions]="{standalone: true}"
                                                (change)="onChange($event.target.value)">
                                                <option disabled selected [value]=undefined>Professional Relation</option>
                                                <option [value]="0">Will you directly manage</option>
                                                <option [value]="1">Will you directly report</option>
                                                <option [value]="2">Indirectly report or manage</option>
                                                <option [value]="3">Works together</option>
                                                <option [value]="4">Know him Personally</option>
                                                <option [value]="5">Don’t know the candidate well.</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix">&nbsp;</div>
                                <!--Rating 13-01-2021-->


                                <!---->
                            </div>
                        </ng-container>
                        <ng-container *ngIf="showres">
                            <form #f="ngForm" (ngSubmit)="goTo(pager.index + 1)">
                                <div class="pl-4 pr-4 w-100 m-auto " style="padding-top: 53px;">
                                    <div *ngFor="let question of filteredQuestions;">
                                        <div class="animated fadeIn">
                                            <h3 class="main_question">
                                                <strong class="stage">{{pager.index + 1}} / {{pager.count}} </strong>
                                                <span [innerHTML]="question.QuestionnaireGroup"></span>


                                            </h3>

                                            <div>
                                                <span *ngIf="question.QuestionnaireGroupId>=7&&question.QuestionnaireGroupId<21">
                                                    Which of these statements best represent the person to whom you are
                                                    providing a reference?
                                                </span>
                                            </div>

                                            <!--<h2>{{pager.index + 1}}. <span [innerHTML]="quiz.QuestionnaireGroup"></span></h2>-->
                                            <div *ngFor="let qtype of question.QuestionTypeList">
                                                <div *ngFor="let option of qtype.QuestionList"
                                                    class="{{qtype.QuestionTypeId == 11 ? 'lmb-3' : ''}}">

                                                    <fieldset class="form-group">
                                                        <ng-container *ngIf="qtype.QuestionTypeId == 6 && question.QuestionnaireGroupId== 7">
                                                            <div class="q-6">
                                                                <input class="form-check-input" type="radio" required  [(ngModel)]="radioSelected7" name="checkRef"
                                                                [value]="option.QuestionId" >
                                                                <label
                                                                    class="{{qtype.QuestionTypeId == 11 ? 'pt-0 label-center' : 'pt-0'}}"
                                                                    [attr.for]="option.QuestionId">{{option.Question}}</label>
                                                            </div>

                                                        </ng-container>
                                                        <ng-container *ngIf="qtype.QuestionTypeId == 6 && question.QuestionnaireGroupId== 8">
                                                            <div class="q-6">
                                                                <input class="form-check-input" type="radio" required [(ngModel)]="radioSelected8" name="checkRef"
                                                                [value]="option.QuestionId" >
                                                                <label
                                                                    class="{{qtype.QuestionTypeId == 11 ? 'pt-0 label-center' : 'pt-0'}}"
                                                                    [attr.for]="option.QuestionId">{{option.Question}}</label>
                                                            </div>

                                                        </ng-container>
                                                        <ng-container *ngIf="qtype.QuestionTypeId == 6 && question.QuestionnaireGroupId== 9">
                                                            <div class="q-6">
                                                                <input class="form-check-input" type="radio" required [(ngModel)]="radioSelected9" name="checkRef"
                                                                [value]="option.QuestionId" >
                                                                <label
                                                                    class="{{qtype.QuestionTypeId == 11 ? 'pt-0 label-center' : 'pt-0'}}"
                                                                    [attr.for]="option.QuestionId">{{option.Question}}</label>
                                                            </div>

                                                        </ng-container>
                                                        <ng-container *ngIf="qtype.QuestionTypeId == 6 && question.QuestionnaireGroupId== 10">
                                                            <div class="q-6">
                                                                <input class="form-check-input" type="radio" required [(ngModel)]="radioSelected10" name="checkRef"
                                                                [value]="option.QuestionId" >
                                                                <label
                                                                    class="{{qtype.QuestionTypeId == 11 ? 'pt-0 label-center' : 'pt-0'}}"
                                                                    [attr.for]="option.QuestionId">{{option.Question}}</label>
                                                            </div>

                                                        </ng-container>
                                                        <ng-container *ngIf="qtype.QuestionTypeId == 6 && question.QuestionnaireGroupId== 11">
                                                            <div class="q-6">
                                                                <input class="form-check-input" type="radio" required [(ngModel)]="radioSelected11" name="checkRef"
                                                                [value]="option.QuestionId" >
                                                                <label
                                                                    class="{{qtype.QuestionTypeId == 11 ? 'pt-0 label-center' : 'pt-0'}}"
                                                                    [attr.for]="option.QuestionId">{{option.Question}}</label>
                                                            </div>

                                                        </ng-container>
                                                        <ng-container *ngIf="qtype.QuestionTypeId != 6">

                                                            <label *ngIf="option.QuestionId === 130 && skill1!=undefined"
                                                                class="pt-0"
                                                                [attr.for]="option.QuestionId">
                                                                How good is {{name?.ProfileBasicInfo?.FirstName}}  in {{skill1}}?
                                                            </label>

                                                            <label *ngIf="option.QuestionId === 131 && skill2!=undefined"
                                                            class="pt-0"
                                                            [attr.for]="option.QuestionId">
                                                            How good is {{name?.ProfileBasicInfo?.FirstName}} in {{skill2}}?
                                                             </label>

                                                             <label *ngIf="option.QuestionId === 132 && skill3!=undefined"
                                                             class="{{qtype.QuestionTypeId == 11 ? 'pt-0 label-center' : 'pt-0'}}"
                                                             [attr.for]="option.QuestionId">
                                                             How good is {{name?.ProfileBasicInfo?.FirstName}}  in {{skill3}}?
                                                              </label>

                                                              <label *ngIf="option.QuestionId === 133 && skill4!=undefined"
                                                              class="{{qtype.QuestionTypeId == 11 ? 'pt-0 label-center' : 'pt-0'}}"
                                                              [attr.for]="option.QuestionId">
                                                              How good is {{name?.ProfileBasicInfo?.FirstName}}  in {{skill4}}?
                                                               </label>

                                                               <label *ngIf="option.QuestionId === 134 && skill5!=undefined"
                                                               class="{{qtype.QuestionTypeId == 11 ? 'pt-0 label-center' : 'pt-0'}}"
                                                               [attr.for]="option.QuestionId">
                                                               How good is {{name?.ProfileBasicInfo?.FirstName}}  in {{skill5}}?
                                                                </label>

                                                                <label *ngIf="option.QuestionId === 135"
                                                                class="{{qtype.QuestionTypeId == 11 ? 'pt-0 label-center' : 'pt-0'}}"
                                                                [attr.for]="option.QuestionId">
                                                                What is the role of {{name?.ProfileBasicInfo?.FirstName}} when you are working with him?
                                                                <div class="button-group-pills text-left" data-toggle="buttons">

                                                                    <label  class="btn btn-default"  [ngClass]="{'active': step==='step1'}" (click)="step='step1'" (click)="Select1(1); onSelect(qtype, option,selectrole,selectrole)" *ngIf="role1!='' && role1!=null">
                                                                        <input class="form-check-input" type="radio" [(ngModel)]="selectrole"   [value]="selectrole"  name="checkRef"
                                                                       />
                                                                      <div>{{role1}}</div>
                                                                    </label>
                                                                  <!---->
                                                                    <label class="btn btn-default"   [ngClass]="{'active': step==='step2'}" (click)="step='step2'" (click)="Select1(2); onSelect(qtype, option,selectrole,selectrole)" *ngIf="role2!='' && role2!=null">
                                                                        <input class="form-check-input" type="radio" [(ngModel)]="selectrole"   name="checkRef"
                                                                        />
                                                                        <div>{{role2}}</div>
                                                                    </label>
                                                                  <!---->
                                                                  <label class="btn btn-default"   [ngClass]="{'active': step==='step3'}" (click)="step='step3'"  (click)="Select1(3); onSelect(qtype, option,selectrole,selectrole)" *ngIf="role3!=''&&role3!=null">
                                                                    <input class="form-check-input" type="radio" [(ngModel)]="selectrole"   name="checkRef"
                                                                   />
                                                                    <div>{{role3}}</div>
                                                                  </label>
                                                                <!---->
                                                                <label class="btn btn-default" [ngClass]="{'active': step==='step4'}" (click)="step='step4'" (click)="Select1(4); onSelect(qtype, option,selectrole,selectrole)" *ngIf="role4!=''&&role4!=null">
                                                                    <input class="form-check-input" type="radio" [(ngModel)]="selectrole"  [value]="selectrole"  name="checkRef"
                                                                    />
                                                                    <div>{{role4}}</div>
                                                                  </label>
                                                                <!---->
                                                                </div>
                                                                <div class="form-group" *ngIf="OtherSelect">
                                                                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="role"  [(ngModel)]="others" (ngModelChange)="changeModel($event)"  name="others" />
                                                                </div>
                                                                <!---->
                                                                <div class="clearfix">&nbsp;</div>
                                                            </label>

                                                    <ng-container *ngIf="option.QuestionId === 136 && role!=undefined">
                                                            <label
                                                                 class="{{qtype.QuestionTypeId == 11 ? 'pt-0 label-center' : 'pt-0'}}"
                                                            [attr.for]="option.QuestionId">
                                                      How good is {{name?.ProfileBasicInfo?.FirstName }}  as a  {{role}}?
                                                          </label>
                                                      </ng-container>



                                                                  <label *ngIf="option.QuestionId < 130"
                                                                class="{{qtype.QuestionTypeId == 11 ? 'pt-0 label-center' : 'pt-0'}}"
                                                                [attr.for]="option.QuestionId">
                                                                {{option.Question}}
                                                            </label>

                                                            <div *ngIf="qtype.QuestionTypeId == 8">
                                                                <!-- <label class="container_check version_2">Yes
                                                                                <input class="form-check-input" type="radio" [(ngModel)]="option.Answer" name="{{option.QuestionId}}" (input)="onSelect(qtype, option)" value="1">
                                                                                <span class="checkmark"></span>

                                                                            </label>
                                                                            <label class="container_check version_2">No
                                                                                <input class="form-check-input" type="radio" [(ngModel)]="option.Answer" name="{{option.QuestionId}}" (input)="onSelect(qtype, option)" value="2">
                                                                                <span class="checkmark"></span>

                                                                            </label>  -->
                                                                <div *ngIf="option.Answers != null">
                                                                    <div class="d-flex flex-row bd-highlight mb-3">
                                                                        <div
                                                                            *ngFor="let ans of option.Answers.split('|'); let i = index">
                                                                            <div class="p-2 bd-highlight">
                                                                                <label
                                                                                    class="container_check version_2 radio">{{ans.split('-')[1]}}
                                                                                    <input class="form-check-input" required
                                                                                        type="radio"
                                                                                        [ngModel]="option.Answer"
                                                                                        id="{{option.QuestionId}}"
                                                                                        (input)="onSelect(qtype, option, ans.split('-')[0])"
                                                                                        name="ansr-{{option.QuestionId}}"
                                                                                        [value]="ans.split('-')[0]">
                                                                                    <!-- <span class="box">{{ans.split('-')[1]}}</span>  -->
                                                                                    <span class="checkmark"></span>
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div *ngIf="qtype.QuestionTypeId == 3">
                                                                <input type="text" class="form-control" required
                                                                    name="ansr-{{option.QuestionId}}"
                                                                    [(ngModel)]="option.Answer"
                                                                    (input)="onSelect(qtype, option, $event.target.value)"
                                                                    type="text">
                                                            </div>
                                                            <div *ngIf="qtype.QuestionTypeId == 9">
                                                                <!-- <select class="form-control" name="answer" [(ngModel)]="option.Answer" (input)="onSelect(qtype, option)" type="text">
                                                                                <option selected>Choose...</option>
                                                                                <option>...</option>
                                                                                <option>...</option>
                                                                                <option>...</option>
                                                                              </select> -->
                                                                <div *ngIf="option.Answers != null">
                                                                    <select class="form-control" required
                                                                        name="ansr-{{option.QuestionId}}"
                                                                        [(ngModel)]="option.Answer" required
                                                                        id="{{option.QuestionId}}"
                                                                        (change)="onSelect(qtype, option, $event.target.value.split(',')[0])">
                                                                        <option
                                                                            *ngFor="let ans of option.Answers.split('|'); let i = index"
                                                                            [value]="ans.split('-')">{{ans.split('-')[1]}}
                                                                        </option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div *ngIf="qtype.QuestionTypeId == 4">
                                                                <textarea name="ansr-{{option.QuestionId}}"
                                                                    [(ngModel)]="option.Answer"
                                                                    (input)="onSelect(qtype, option,$event.target.value)"></textarea>

                                                            </div>
                                                            <div *ngIf="qtype.QuestionTypeId == 18">
                                                                <div *ngIf="option.Answers != null">
                                                                    <div class="d-flex flex-row bd-highlight mb-3">
                                                                        <div
                                                                            *ngFor="let ans of option.Answers.split('|'); let i = index">
                                                                            <div class="p-2 bd-highlight">
                                                                                <label
                                                                                    class="container_check version_2 radio">{{ans.split('-')[1]}}
                                                                                    <input class="form-check-input" required
                                                                                        type="radio"
                                                                                        [ngModel]="option.Answer"
                                                                                        id="{{option.QuestionId}}"
                                                                                        (input)="onSelect(qtype, option, ans.split('-')[0])"
                                                                                        name="ansr-{{option.QuestionId}}"
                                                                                        [value]="ans.split('-')[0]">
                                                                                    <!-- <span class="box">{{ans.split('-')[1]}}</span>  -->
                                                                                    <span class="checkmark"></span>
                                                                                </label>
                                                                            </div>
                                                                            <!-- {{option.Answer}} -->
                                                                            <!-- // {{ans.split('-')[0]}} -->
                                                                            <!-- <div *ngIf="option.Answer == 1 ">
                                                                                                <textarea name="ansr-{{option.QuestionId}}"  [(ngModel)]="option.ResponseValue" (input)="onSelect(qtype, option,0,$event.target.value)"></textarea>
                                                                                            </div> -->
                                                                        </div>
                                                                        <div *ngIf="option.Answer == 1 ">
                                                                            <textarea name="anser-{{option.QuestionId}}"
                                                                                [(ngModel)]="option.ResponseValue"
                                                                                (input)="onSelect(qtype, option,0,$event.target.value)"></textarea>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                            <span *ngIf="qtype.QuestionTypeId ==11 && option.QuestionId<=129">
                                                                <rating [(ngModel)]="option.Answer" required
                                                                    name="ans-{{option.QuestionId}}" [max]="5" fullIcon="★"
                                                                    emptyIcon="☆" [readonly]="false" [disabled]="false"
                                                                    [required]="true" [float]="true"
                                                                    [titles]="['one', 'two', 'three', 'four', 'five']">
                                                                </rating>
                                                            </span>




                                                                <div class="m-r-f" *ngIf="option.QuestionId===130 && skill1!=undefined">
                                                                    <div class="form-group">
                                                                        <div class="rating clearfix">

                                                                            <div class="input-grp">
                                                                                <div class="radio-box">
                                                                                    <label for="beginner" class="radio" (click)="SkillRating1=1; onSelect(qtype, option,skill1 + ',' +SkillRating1,skill1 + ',' +SkillRating1)">
                                                                                        <input type="checkbox" data-rating="1" id="beginner-{{option.QuestionId}}"  name="beginner-{{option.QuestionId}}"
                                                                                            class="radio-input" [checked]="SkillRating1>=1">
                                                                                        <span class="radio-btn"></span>
                                                                                        <span class="radiospan">Beginner</span>
                                                                                    </label>
                                                                                </div>
                                                                                <div class="radio-box">
                                                                                    <label for="familiar" class="radio" (click)="SkillRating1=2; onSelect(qtype, option,skill1 + ',' +SkillRating1,skill1 + ',' +SkillRating1)">
                                                                                        <input type="checkbox" data-rating="2" id="familiar-{{option.QuestionId}}"  name="familiar-{{option.QuestionId}}"
                                                                                            class="radio-input" [checked]="SkillRating1>=2">
                                                                                        <span class="radio-btn"></span>
                                                                                        <span class="radiospan">Familiar</span>
                                                                                    </label>
                                                                                </div>
                                                                                <div class="radio-box">
                                                                                    <label for="proficient" class="radio" (click)="SkillRating1=3; onSelect(qtype, option,skill1 + ',' +SkillRating1,skill1 + ',' +SkillRating1)">
                                                                                        <input type="checkbox" data-rating="3" id="proficient-{{option.QuestionId}}"
                                                                                            name="proficient-{{option.QuestionId}}" class="radio-input"  [checked]="SkillRating1>=3">
                                                                                        <span class="radio-btn"></span>
                                                                                        <span class="radiospan">Proficient</span>
                                                                                    </label>
                                                                                </div>
                                                                                <div class="radio-box">
                                                                                    <label for="expert" class="radio" (click)="SkillRating1=4; onSelect(qtype, option,skill1 + ',' +SkillRating1,skill1 + ',' +SkillRating1)">
                                                                                        <input type="checkbox" data-rating="4" id="expert-{{option.QuestionId}}"  name="expert-{{option.QuestionId}}"
                                                                                            class="radio-input" [checked]="SkillRating1>=4">
                                                                                        <span class="radio-btn"></span>
                                                                                        <span class="radiospan">Expert</span>
                                                                                    </label>
                                                                                </div>
                                                                                <div class="radio-box">
                                                                                    <label for="master" class="radio" (click)="SkillRating1=5; onSelect(qtype, option,skill1 + ',' +SkillRating1,skill1 + ',' +SkillRating1)">
                                                                                        <input type="checkbox" data-rating="5" id="master-{{option.QuestionId}}"  name="master-{{option.QuestionId}}"
                                                                                            class="radio-input" [checked]="SkillRating1>=5">
                                                                                        <span class="radio-btn"></span>
                                                                                        <span class="radiospan">Master</span>
                                                                                    </label>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="m-r-f" *ngIf="option.QuestionId===131 && skill2!=undefined">
                                                                    <div class="form-group ">
                                                                        <div class="rating clearfix">

                                                                            <div class="input-grp">
                                                                                <div class="radio-box w-20">
                                                                                    <label for="beginner" class="radio" (click)="SkillRating2=1; onSelect(qtype, option,skill2 + ',' +SkillRating2,skill2 + ',' +SkillRating2)">
                                                                                        <input type="checkbox" data-rating="1" id="beginner-{{option.QuestionId}}" name="beginner-{{option.QuestionId}}"
                                                                                            class="radio-input" [checked]="SkillRating2>=1">
                                                                                        <span class="radio-btn"></span>
                                                                                        <span class="radiospan">Beginner</span>
                                                                                    </label>
                                                                                </div>
                                                                                <div class="radio-box w-20">
                                                                                    <label for="familiar" class="radio" (click)="SkillRating2=2; onSelect(qtype, option,skill2 + ',' +SkillRating2,skill2 + ',' +SkillRating2)">
                                                                                        <input type="checkbox" data-rating="2" id="familiar-{{option.QuestionId}}" name="familiar-{{option.QuestionId}}"
                                                                                            class="radio-input" [checked]="SkillRating2>=2">
                                                                                        <span class="radio-btn"></span>
                                                                                        <span class="radiospan">Familiar</span>
                                                                                    </label>
                                                                                </div>
                                                                                <div class="radio-box">
                                                                                    <label for="proficient" class="radio" (click)="SkillRating2=3; onSelect(qtype, option,skill2 + ',' +SkillRating2,skill2 + ',' +SkillRating2)">
                                                                                        <input type="checkbox" data-rating="3" id="proficient-{{option.QuestionId}}"
                                                                                            name="proficient-{{option.QuestionId}}" class="radio-input" [checked]="SkillRating2>=3">
                                                                                        <span class="radio-btn"></span>
                                                                                        <span class="radiospan">Proficient</span>
                                                                                    </label>
                                                                                </div>
                                                                                <div class="radio-box">
                                                                                    <label for="expert" class="radio" (click)="SkillRating2=4; onSelect(qtype, option,skill2 + ',' +SkillRating2,skill2 + ',' +SkillRating2)">
                                                                                        <input type="checkbox" data-rating="4" id="expert-{{option.QuestionId}}" name="expert-{{option.QuestionId}}"
                                                                                            class="radio-input" [checked]="SkillRating2>=4">
                                                                                        <span class="radio-btn"></span>
                                                                                        <span class="radiospan">Expert</span>
                                                                                    </label>
                                                                                </div>
                                                                                <div class="radio-box">
                                                                                    <label for="master" class="radio" (click)="SkillRating2=5; onSelect(qtype, option,skill2 + ',' +SkillRating2,skill2 + ',' +SkillRating2)">
                                                                                        <input type="checkbox" data-rating="5" id="master-{{option.QuestionId}}" name="master-{{option.QuestionId}}"
                                                                                            class="radio-input" [checked]="SkillRating2>=5">
                                                                                        <span class="radio-btn"></span>
                                                                                        <span class="radiospan">Master</span>
                                                                                    </label>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="m-r-f" *ngIf="option.QuestionId===132 && skill3!=undefined">
                                                                    <div class="form-group ">
                                                                        <div class="rating clearfix">

                                                                            <div class="input-grp">
                                                                                <div class="radio-box">
                                                                                    <label for="beginner" class="radio" (click)="SkillRating3=1; onSelect(qtype, option,skill3 + ',' +SkillRating3,skill3 + ',' +SkillRating3)">
                                                                                        <input type="checkbox" data-rating="1" id="beginner-{{option.QuestionId}}" name="beginner-{{option.QuestionId}}"
                                                                                            class="radio-input" [checked]="SkillRating3>=1">
                                                                                        <span class="radio-btn"></span>
                                                                                        <span class="radiospan">Beginner</span>
                                                                                    </label>
                                                                                </div>
                                                                                <div class="radio-box">
                                                                                    <label for="familiar" class="radio" (click)="SkillRating3=2; onSelect(qtype, option,skill3 + ',' +SkillRating3,skill3 + ',' +SkillRating3)">
                                                                                        <input type="checkbox" data-rating="2" id="familiar-{{option.QuestionId}}" name="familiar-{{option.QuestionId}}"
                                                                                            class="radio-input" [checked]="SkillRating3>=2">
                                                                                        <span class="radio-btn"></span>
                                                                                        <span class="radiospan">Familiar</span>
                                                                                    </label>
                                                                                </div>
                                                                                <div class="radio-box">
                                                                                    <label for="proficient" class="radio" (click)="SkillRating3=3; onSelect(qtype, option,skill3 + ',' +SkillRating3,skill3 + ',' +SkillRating3)">
                                                                                        <input type="checkbox" data-rating="3" id="proficient-{{option.QuestionId}}"
                                                                                            name="proficient-{{option.QuestionId}}" class="radio-input" [checked]="SkillRating3>=3">
                                                                                        <span class="radio-btn"></span>
                                                                                        <span class="radiospan">Proficient</span>
                                                                                    </label>
                                                                                </div>
                                                                                <div class="radio-box">
                                                                                    <label for="expert" class="radio" (click)="SkillRating3=4; onSelect(qtype, option,skill3 + ',' +SkillRating3,skill3 + ',' +SkillRating3)">
                                                                                        <input type="checkbox" data-rating="4" id="expert-{{option.QuestionId}}" name="expert-{{option.QuestionId}}"
                                                                                            class="radio-input" [checked]="SkillRating3>=4">
                                                                                        <span class="radio-btn"></span>
                                                                                        <span class="radiospan">Expert</span>
                                                                                    </label>
                                                                                </div>
                                                                                <div class="radio-box">
                                                                                    <label for="master" class="radio" (click)="SkillRating3=5; onSelect(qtype, option,skill3 + ',' +SkillRating3,skill3 + ',' +SkillRating3)">
                                                                                        <input type="checkbox" data-rating="5" id="master-{{option.QuestionId}}" name="master-{{option.QuestionId}}"
                                                                                            class="radio-input" [checked]="SkillRating3>=5">
                                                                                        <span class="radio-btn"></span>
                                                                                        <span class="radiospan">Master</span>
                                                                                    </label>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="m-r-f" *ngIf="option.QuestionId===133 && skill4!=undefined">
                                                                    <div class="form-group ">
                                                                        <div class="rating clearfix">

                                                                            <div class="input-grp">
                                                                                <div class="radio-box">
                                                                                    <label for="beginner" class="radio" (click)="SkillRating4=1; onSelect(qtype, option,skill4 + ',' +SkillRating4,skill4 + ',' +SkillRating4)">
                                                                                        <input type="checkbox" data-rating="1" id="beginner-{{option.QuestionId}}" name="beginner-{{option.QuestionId}}"
                                                                                            class="radio-input" [checked]="SkillRating4>=1">
                                                                                        <span class="radio-btn"></span>
                                                                                        <span class="radiospan">Beginner</span>
                                                                                    </label>
                                                                                </div>
                                                                                <div class="radio-box">
                                                                                    <label for="familiar" class="radio" (click)="SkillRating4=2; onSelect(qtype, option,skill4 + ',' +SkillRating4,skill4 + ',' +SkillRating4)">
                                                                                        <input type="checkbox" data-rating="2" id="familiar-{{option.QuestionId}}" name="familiar-{{option.QuestionId}}"
                                                                                            class="radio-input" [checked]="SkillRating4>=2">
                                                                                        <span class="radio-btn"></span>
                                                                                        <span class="radiospan">Familiar</span>
                                                                                    </label>
                                                                                </div>
                                                                                <div class="radio-box">
                                                                                    <label for="proficient" class="radio" (click)="SkillRating4=3; onSelect(qtype, option,skill4 + ',' +SkillRating4,skill4 + ',' +SkillRating4)">
                                                                                        <input type="checkbox" data-rating="3" id="proficient-{{option.QuestionId}}"
                                                                                            name="proficient-{{option.QuestionId}}" class="radio-input" [checked]="SkillRating4>=3">
                                                                                        <span class="radio-btn"></span>
                                                                                        <span class="radiospan">Proficient</span>
                                                                                    </label>
                                                                                </div>
                                                                                <div class="radio-box">
                                                                                    <label for="expert" class="radio" (click)="SkillRating4=4; onSelect(qtype, option,skill4 + ',' +SkillRating4,skill4 + ',' +SkillRating4)">
                                                                                        <input type="checkbox" data-rating="4" id="expert-{{option.QuestionId}}" name="expert-{{option.QuestionId}}"
                                                                                            class="radio-input" [checked]="SkillRating4>=4">
                                                                                        <span class="radio-btn"></span>
                                                                                        <span class="radiospan">Expert</span>
                                                                                    </label>
                                                                                </div>
                                                                                <div class="radio-box">
                                                                                    <label for="master" class="radio" (click)="SkillRating4=5; onSelect(qtype, option,skill4 + ',' +SkillRating4,skill4 + ',' +SkillRating4)">
                                                                                        <input type="checkbox" data-rating="5" id="master-{{option.QuestionId}}" name="master-{{option.QuestionId}}"
                                                                                            class="radio-input" [checked]="SkillRating4>=5">
                                                                                        <span class="radio-btn"></span>
                                                                                        <span class="radiospan">Master</span>
                                                                                    </label>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="m-r-f" *ngIf="option.QuestionId===134 && skill5!=undefined">
                                                                    <div class="form-group ">
                                                                        <div class="rating clearfix">

                                                                            <div class="input-grp">
                                                                                <div class="radio-box">
                                                                                    <label for="beginner" class="radio" (click)="SkillRating5=1; onSelect(qtype, option,skill5 + ',' +SkillRating5,skill5 + ',' +SkillRating5)">
                                                                                        <input type="checkbox" data-rating="1" id="beginner-{{option.QuestionId}}" name="beginner-{{option.QuestionId}}"
                                                                                            class="radio-input" [checked]="SkillRating5>=1">
                                                                                        <span class="radio-btn"></span>
                                                                                        <span class="radiospan">Beginner</span>
                                                                                    </label>
                                                                                </div>
                                                                                <div class="radio-box">
                                                                                    <label for="familiar" class="radio" (click)="SkillRating5=2;onSelect(qtype, option,skill5 + ',' +SkillRating5,skill5 + ',' +SkillRating5)">
                                                                                        <input type="checkbox" data-rating="2" id="familiar-{{option.QuestionId}}" name="familiar-{{option.QuestionId}}"
                                                                                            class="radio-input" [checked]="SkillRating5>=2">
                                                                                        <span class="radio-btn"></span>
                                                                                        <span class="radiospan">Familiar</span>
                                                                                    </label>
                                                                                </div>
                                                                                <div class="radio-box">
                                                                                    <label for="proficient" class="radio" (click)="SkillRating5=3; onSelect(qtype, option,skill5 + ',' +SkillRating5,skill5 + ',' +SkillRating5)">
                                                                                        <input type="checkbox" data-rating="3" id="proficient-{{option.QuestionId}}"
                                                                                            name="proficient-{{option.QuestionId}}" class="radio-input" [checked]="SkillRating5>=3">
                                                                                        <span class="radio-btn"></span>
                                                                                        <span class="radiospan">Proficient</span>
                                                                                    </label>
                                                                                </div>
                                                                                <div class="radio-box">
                                                                                    <label for="expert" class="radio" (click)="SkillRating5=4; onSelect(qtype, option,skill5 + ',' +SkillRating5,skill5 + ',' +SkillRating5)">
                                                                                        <input type="checkbox" data-rating="4" id="expert-{{option.QuestionId}}" name="expert-{{option.QuestionId}}"
                                                                                            class="radio-input" [checked]="SkillRating5>=4">
                                                                                        <span class="radio-btn"></span>
                                                                                        <span class="radiospan">Expert</span>
                                                                                    </label>
                                                                                </div>
                                                                                <div class="radio-box">
                                                                                    <label for="master" class="radio" (click)="SkillRating5=5; onSelect(qtype, option,skill5 + ',' +SkillRating5,skill5 + ',' +SkillRating5)">
                                                                                        <input type="checkbox" data-rating="5" id="master-{{option.QuestionId}}" name="master-{{option.QuestionId}}"
                                                                                            class="radio-input" [checked]="SkillRating5>=5">
                                                                                        <span class="radio-btn"></span>
                                                                                        <span class="radiospan">Master</span>
                                                                                    </label>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="m-r-f" *ngIf="option.QuestionId===136&& role!=undefined">
                                                                    <div class="form-group">
                                                                        <div class="rating clearfix">

                                                                            <div class="input-grp">
                                                                                <div class="radio-box">
                                                                                    <label for="beginner" class="radio" (click)="RoleRating=1; onSelect(qtype, option,RoleRating,RoleRating)">
                                                                                        <input type="checkbox" data-rating="1" id="beginner-{{option.QuestionId}}" name="beginner-{{option.QuestionId}}"
                                                                                            class="radio-input" [checked]="RoleRating>=1">
                                                                                        <span class="radio-btn"></span>
                                                                                        <span class="radiospan">Beginner</span>
                                                                                    </label>
                                                                                </div>
                                                                                <div class="radio-box">
                                                                                    <label for="familiar" class="radio" (click)="RoleRating=2; onSelect(qtype, option,RoleRating,RoleRating) ">
                                                                                        <input type="checkbox" data-rating="2" id="familiar-{{option.QuestionId}}" name="familiar-{{option.QuestionId}}"
                                                                                            class="radio-input" [checked]="RoleRating>=2">
                                                                                        <span class="radio-btn"></span>
                                                                                        <span class="radiospan">Familiar</span>
                                                                                    </label>
                                                                                </div>
                                                                                <div class="radio-box">
                                                                                    <label for="proficient" class="radio" (click)="RoleRating=3; onSelect(qtype, option,RoleRating,RoleRating)">
                                                                                        <input type="checkbox" data-rating="3" id="proficient-{{option.QuestionId}}"
                                                                                            name="proficient-{{option.QuestionId}}" class="radio-input" [checked]="RoleRating>=3">
                                                                                        <span class="radio-btn"></span>
                                                                                        <span class="radiospan">Proficient</span>
                                                                                    </label>
                                                                                </div>
                                                                                <div class="radio-box">
                                                                                    <label for="expert" class="radio" (click)="RoleRating=4; onSelect(qtype, option,RoleRating,RoleRating)">
                                                                                        <input type="checkbox" data-rating="4" id="expert-{{option.QuestionId}}" name="expert-{{option.QuestionId}}"
                                                                                            class="radio-input" [checked]="RoleRating>=4">
                                                                                        <span class="radio-btn"></span>
                                                                                        <span class="radiospan">Expert</span>
                                                                                    </label>
                                                                                </div>
                                                                                <div class="radio-box">
                                                                                    <label for="master" class="radio" (click)="RoleRating=5; onSelect(qtype, option,RoleRating,RoleRating)">
                                                                                        <input type="checkbox" data-rating="5" id="master-{{option.QuestionId}}" name="master-{{option.QuestionId}}"
                                                                                            class="radio-input" [checked]="RoleRating>=5">
                                                                                        <span class="radio-btn"></span>
                                                                                        <span class="radiospan">Master</span>
                                                                                    </label>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>


                                                                <!--Q2-->

                                                                <!---->

                                                                 <!---->
                                                                <!--Q5-->

                                                        </ng-container>

                                                    </fieldset>


                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="text-sm-right sm-padding w-100 mx-auto pb-5 pr-4 pt-4  animated fadeIn delay-2s">
                                    <!-- <button class="btn btn-default" *ngIf="config.allowBack" (click)="goTo(0);">First</button> -->
                                    <button class="btn btn-default" type="button" *ngIf="config.allowBack"
                                        (click)="goTo(pager.index - 1);">Prev</button>
                                    <!-- <button class="btn btn-primary" *ngIf="!show" type="submit" (click)="goTo(pager.index + 1);">Next</button> -->
                                    <button class="btn btn-primary" *ngIf="!show" [disabled]="!f.valid"
                                        type="submit">Next</button>
                                    <button class="btn btn-primary" *ngIf="show" [disabled]="!f.valid"
                                        (click)="surveyComplete()">Submit</button>
                                    <!-- <button class="btn btn-default" *ngIf="config.allowBack" (click)="goTo(pager.count - 1);">Last</button> -->
                                    <!--<pagination *ngIf="config.showPager" direction-links="false" total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" ng-change="pageChanged()"></pagination>-->
                                </div>
                            </form>
                        </ng-container>
                    </ng-container>
                    <ng-container *ngIf="checkRelation === true">
                        <ng-container *ngIf="!showres">
                            <div class="pl-4 pr-4 w-75 m-auto minw-400" style="padding-top: 53px;">
                                <div>
                                    <div class="animated fadeIn">
                                        <h3 class="main_question">

                                            <span> Personal Reference</span>


                                        </h3>

                                        <div>
                                            <span>
                                                How do you know {{name?.ProfileBasicInfo?.FirstName}}?
                                            </span>
                                        </div>

                                        <!--<h2>{{pager.index + 1}}. <span [innerHTML]="quiz.QuestionnaireGroup"></span></h2>-->
                                        <div>
                                            <select class="form-control" [(ngModel)]="referenceVal"
                                                [ngModelOptions]="{standalone: true}"
                                                (change)="onChange($event.target.value)">
                                                <option disabled selected [value]=undefined>Personal Relation</option>
                                                <option [value]="0">Relative</option>
                                                <option [value]="1">Neighbour</option>
                                                <option [value]="2">Friend</option>
                                                <option [value]="3">Just know him Personally</option>
                                                <option [value]="4">Well Wisher</option>
                                                <option [value]="5">Don’t know the candidate well.</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </ng-container>
                        <ng-container *ngIf="showres">
                            <form #f="ngForm" (ngSubmit)="goTo(pager.index + 1)">
                                <div class="pl-4 pr-4 w-75 m-auto minw-400" style="padding-top: 53px;">
                                    <div *ngFor="let question of filteredQuestions;">
                                        <div class="animated fadeIn">
                                            <h3 class="main_question">
                                                <strong class="stage">{{pager.index + 1}} / {{pager.count}} </strong>
                                                <span [innerHTML]="question.QuestionnaireGroup"></span>


                                            </h3>

                                            <div>
                                                <span *ngIf="question.QuestionnaireGroupId>=7">
                                                    Which of these statements best represent the person to whom you are
                                                    providing a reference?
                                                </span>
                                            </div>

                                            <!--<h2>{{pager.index + 1}}. <span [innerHTML]="quiz.QuestionnaireGroup"></span></h2>-->
                                            <div *ngFor="let qtype of question.QuestionTypeList">
                                                <div *ngFor="let option of qtype.QuestionList"
                                                    class="{{qtype.QuestionTypeId == 11 ? 'lmb-3' : ''}}">

                                                    <fieldset class="form-group">
                                                        <ng-container *ngIf="qtype.QuestionTypeId == 6 && question.QuestionnaireGroupId== 7">
                                                            <div class="q-6">
                                                                <input class="form-check-input" type="radio" required [(ngModel)]="radioSelected7" name="checkRef"
                                                                [value]="option.QuestionId" >
                                                                <label
                                                                    class="{{qtype.QuestionTypeId == 11 ? 'pt-0 label-center' : 'pt-0'}}"
                                                                    [attr.for]="option.QuestionId">{{option.Question}}</label>
                                                            </div>

                                                        </ng-container>
                                                        <ng-container *ngIf="qtype.QuestionTypeId == 6 && question.QuestionnaireGroupId== 8">
                                                            <div class="q-6">
                                                                <input class="form-check-input" type="radio" required [(ngModel)]="radioSelected8" name="checkRef"
                                                                [value]="option.QuestionId" >
                                                                <label
                                                                    class="{{qtype.QuestionTypeId == 11 ? 'pt-0 label-center' : 'pt-0'}}"
                                                                    [attr.for]="option.QuestionId">{{option.Question}}</label>
                                                            </div>

                                                        </ng-container>
                                                        <ng-container *ngIf="qtype.QuestionTypeId == 6 && question.QuestionnaireGroupId== 9">
                                                            <div class="q-6">
                                                                <input class="form-check-input" type="radio" required [(ngModel)]="radioSelected9" name="checkRef"
                                                                [value]="option.QuestionId" >
                                                                <label
                                                                    class="{{qtype.QuestionTypeId == 11 ? 'pt-0 label-center' : 'pt-0'}}"
                                                                    [attr.for]="option.QuestionId">{{option.Question}}</label>
                                                            </div>

                                                        </ng-container>
                                                        <ng-container *ngIf="qtype.QuestionTypeId == 6 && question.QuestionnaireGroupId== 10">
                                                            <div class="q-6">
                                                                <input class="form-check-input" type="radio" required [(ngModel)]="radioSelected10" name="checkRef"
                                                                [value]="option.QuestionId" >
                                                                <label
                                                                    class="{{qtype.QuestionTypeId == 11 ? 'pt-0 label-center' : 'pt-0'}}"
                                                                    [attr.for]="option.QuestionId">{{option.Question}}</label>
                                                            </div>

                                                        </ng-container>
                                                        <ng-container *ngIf="qtype.QuestionTypeId == 6 && question.QuestionnaireGroupId== 11">
                                                            <div class="q-6">
                                                                <input class="form-check-input" type="radio" required [(ngModel)]="radioSelected11" name="checkRef"
                                                                [value]="option.QuestionId" >
                                                                <label
                                                                    class="{{qtype.QuestionTypeId == 11 ? 'pt-0 label-center' : 'pt-0'}}"
                                                                    [attr.for]="option.QuestionId">{{option.Question}}</label>
                                                            </div>

                                                        </ng-container>
                                                        <ng-container *ngIf="qtype.QuestionTypeId != 6">
                                                            <label
                                                                class="{{qtype.QuestionTypeId == 11 ? 'pt-0 label-center' : 'pt-0'}}"
                                                                [attr.for]="option.QuestionId">{{option.Question}}</label>

                                                            <div *ngIf="qtype.QuestionTypeId == 8">
                                                                <!-- <label class="container_check version_2">Yes
                                                                            <input class="form-check-input" type="radio" [(ngModel)]="option.Answer" name="{{option.QuestionId}}" (input)="onSelect(qtype, option)" value="1">
                                                                            <span class="checkmark"></span>

                                                                        </label>
                                                                        <label class="container_check version_2">No
                                                                            <input class="form-check-input" type="radio" [(ngModel)]="option.Answer" name="{{option.QuestionId}}" (input)="onSelect(qtype, option)" value="2">
                                                                            <span class="checkmark"></span>

                                                                        </label>  -->
                                                                <div *ngIf="option.Answers != null">
                                                                    <div class="d-flex flex-row bd-highlight mb-3">
                                                                        <div
                                                                            *ngFor="let ans of option.Answers.split('|'); let i = index">
                                                                            <div class="p-2 bd-highlight">
                                                                                <label
                                                                                    class="container_check version_2 radio">{{ans.split('-')[1]}}
                                                                                    <input class="form-check-input" required
                                                                                        type="radio"
                                                                                        [ngModel]="option.Answer"
                                                                                        id="{{option.QuestionId}}"
                                                                                        (input)="onSelect(qtype, option, ans.split('-')[0])"
                                                                                        name="ansr-{{option.QuestionId}}"
                                                                                        [value]="ans.split('-')[0]">
                                                                                    <!-- <span class="box">{{ans.split('-')[1]}}</span>  -->
                                                                                    <span class="checkmark"></span>
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div *ngIf="qtype.QuestionTypeId == 3">
                                                                <input type="text" class="form-control" required
                                                                    name="ansr-{{option.QuestionId}}"
                                                                    [(ngModel)]="option.Answer"
                                                                    (input)="onSelect(qtype, option, $event.target.value)"
                                                                    type="text">
                                                            </div>
                                                            <div *ngIf="qtype.QuestionTypeId == 9">
                                                                <!-- <select class="form-control" name="answer" [(ngModel)]="option.Answer" (input)="onSelect(qtype, option)" type="text">
                                                                            <option selected>Choose...</option>
                                                                            <option>...</option>
                                                                            <option>...</option>
                                                                            <option>...</option>
                                                                          </select> -->
                                                                <div *ngIf="option.Answers != null">
                                                                    <select class="form-control" required
                                                                        name="ansr-{{option.QuestionId}}"
                                                                        [(ngModel)]="option.Answer" required
                                                                        id="{{option.QuestionId}}"
                                                                        (change)="onSelect(qtype, option, $event.target.value.split(',')[0])">
                                                                        <option
                                                                            *ngFor="let ans of option.Answers.split('|'); let i = index"
                                                                            [value]="ans.split('-')">{{ans.split('-')[1]}}
                                                                        </option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div *ngIf="qtype.QuestionTypeId == 4">
                                                                <textarea name="ansr-{{option.QuestionId}}"
                                                                    [(ngModel)]="option.Answer"
                                                                    (input)="onSelect(qtype, option,$event.target.value)"></textarea>

                                                            </div>
                                                            <div *ngIf="qtype.QuestionTypeId == 18">
                                                                <div *ngIf="option.Answers != null">
                                                                    <div class="d-flex flex-row bd-highlight mb-3">
                                                                        <div
                                                                            *ngFor="let ans of option.Answers.split('|'); let i = index">
                                                                            <div class="p-2 bd-highlight">
                                                                                <label
                                                                                    class="container_check version_2 radio">{{ans.split('-')[1]}}
                                                                                    <input class="form-check-input" required
                                                                                        type="radio"
                                                                                        [ngModel]="option.Answer"
                                                                                        id="{{option.QuestionId}}"
                                                                                        (input)="onSelect(qtype, option, ans.split('-')[0])"
                                                                                        name="ansr-{{option.QuestionId}}"
                                                                                        [value]="ans.split('-')[0]">
                                                                                    <!-- <span class="box">{{ans.split('-')[1]}}</span>  -->
                                                                                    <span class="checkmark"></span>
                                                                                </label>
                                                                            </div>
                                                                            <!-- {{option.Answer}} -->
                                                                            <!-- // {{ans.split('-')[0]}} -->
                                                                            <!-- <div *ngIf="option.Answer == 1 ">
                                                                                            <textarea name="ansr-{{option.QuestionId}}"  [(ngModel)]="option.ResponseValue" (input)="onSelect(qtype, option,0,$event.target.value)"></textarea>
                                                                                        </div> -->
                                                                        </div>
                                                                        <div *ngIf="option.Answer == 1 ">
                                                                            <textarea name="anser-{{option.QuestionId}}"
                                                                                [(ngModel)]="option.ResponseValue"
                                                                                (input)="onSelect(qtype, option,0,$event.target.value)"></textarea>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                            <span *ngIf="qtype.QuestionTypeId ==11">
                                                                <rating [(ngModel)]="option.Answer" required
                                                                    name="ans-{{option.QuestionId}}" [max]="5" fullIcon="★"
                                                                    emptyIcon="☆" [readonly]="false" [disabled]="false"
                                                                    [required]="true" [float]="true"
                                                                    [titles]="['one', 'two', 'three', 'four', 'five']">
                                                                </rating>
                                                            </span>
                                                        </ng-container>

                                                    </fieldset>


                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="text-sm-right w-75 mx-auto pb-5 pr-4 pt-4 minw-400 animated fadeIn delay-2s">
                                    <!-- <button class="btn btn-default" *ngIf="config.allowBack" (click)="goTo(0);">First</button> -->
                                    <button class="btn btn-default" type="button" *ngIf="config.allowBack"
                                        (click)="goTo(pager.index - 1);">Prev</button>
                                    <!-- <button class="btn btn-primary" *ngIf="!show" type="submit" (click)="goTo(pager.index + 1);">Next</button> -->
                                    <button class="btn btn-primary" *ngIf="!show" [disabled]="!f.valid"
                                        type="submit">Next</button>
                                    <button class="btn btn-primary" *ngIf="show" [disabled]="!f.valid"
                                        (click)="surveyComplete()">Submit</button>
                                    <!-- <button class="btn btn-default" *ngIf="config.allowBack" (click)="goTo(pager.count - 1);">Last</button> -->
                                    <!--<pagination *ngIf="config.showPager" direction-links="false" total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" ng-change="pageChanged()"></pagination>-->
                                </div>
                            </form>
                        </ng-container>
                    </ng-container>


                </div>

            </div>
        </div>
    </div>
    <!-- <router-outlet></router-outlet> -->
